* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 90rem;
  width: 100%;

  -webkit-font-smoothing: antialiased;

  margin: 0 auto;
}

body, input, textarea, button {
  font: 400 1rem Inter, sans-serif;

  a {
      text-decoration: none;
  }

  li {
      list-style: none;
  }
}
