.header {
  background-color: #D73035;

  width: 100%;
  height: 12.375rem;

  display: flex;

  .header-content {
    width: 77.25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;

    h1 {
      color: #fff;
    }

    p {
      color: #fff;
    }
  }
}
